# Python e Django
*.pyc
__pycache__/
venv/
env/
db.sqlite3
*.log
local_settings.py

# Variáveis de Ambiente (Segurança)
.env

# Node.js e Tailwind
node_modules/
theme/static_src/node_modules/
theme/static/css/dist/

# VS Code
.vscode/

# Arquivos de Sistema
.DS_Store
Thumbs.db

# Mídia (Geralmente não se commita mídia de upload local, mas depende do seu uso)
# media/