{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-br" class="scroll-smooth">
<head>
    <title>{% block titulo %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body class="bg-gray-50 text-black font-serif leading-normal tracking-normal">
     <header class="bg-gradient-to-r from-cyan-50 to-sky-200">
        <div class="container mx-auto flex items-center justify-between p-4">
             <div class="flex items-center space-x-2">
       <a href="{%url 'home'%}"> <img src="{% static 'images/Logo.png' %}" alt="Logo" class="w-28 h-auto rounded-xl"></a>
      </div>
      <nav class="hidden md:flex space-x-6">
        <a href="{% url 'home' %}" class="capitalize text-gray-700 hover:text-blue-600 transform hover:scale-105 transition duration-200">Home</a>
        <a href="{% url 'recomendacoes' %}" class="capitalize text-gray-700 hover:text-blue-600 transform hover:scale-105 transition duration-200">Recomendações</a>
        <a href="{% url 'mapa_eventos' %}" class="capitalize text-gray-700 hover:text-blue-600 transform hover:scale-105 transition duration-200">Eventos</a>
      </nav>
    </header>
{% block conteudo %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{%block scripts%}{%endblock%}
</body>
</html>
