{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block titulo %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 text-black font-serif leading-normal tracking-normal">
     <header class="bg-gradient-to-r from-cyan-50 to-sky-200">
        <div class="container mx-auto flex items-center justify-between p-4">
            <div class="flex items-center  space-x-2">
                <img src="{% static 'images/Logo.png' %}" alt="Logo" class="w-28 h-auto rounded-xl
                ">
            </div>
            <nav class="space-x-4">
                <a href="{%url 'home'%}" class="text-gray-700 hover:text-blue-500 transition">Home</a>
                <a href="{%url 'recomendacoes'%}" class="text-gray-700 hover:text-blue-500 transition">Recomendações</a>
                <a href="{% url 'mapa_eventos'%}" class="text-gray-700 hover:text-blue-500 transition">Eventos</a>
            </nav>
        </div>
    </header>
{% block conteudo %}
{% endblock %}
</div>
</body>
</html>
